body {
	font-family: Helvetica;
}

main, body > footer {
	max-width  : 33em;
	margin-left: 3em;
}

body > footer {
	margin-top: 2em;
}

body > footer p {
	text-align : center;
	font-size  : 85%;
	font-weight: bold;
}

main > h1 {
	margin-top: 0em;
}

.date {
	margin-bottom: 0em;
	font-weight  : bold;
	font-size    : 85%;
}

a {
	text-decoration: none;
	font-weight    : bold;
	color          : #0000b0;
}

a:hover {
	text-decoration: underline;
}

a.footnote {
	font-size: 75%;
	vertical-align: super;
}

hr {
	width: 85%;

	margin-top   : 2em;
	margin-bottom: 2em;
}

main footer {
	font-size: 75%;
}

.footnote-number {
	font-weight: bold;
	float      : left;
}

main footer p {
	margin-left: 2em;
}
