body {
	font-family: Helvetica;
}

main {
	max-width  : 33em;
	margin-left: 3em;
}

main > h1 {
	margin-top: 0em;
}

.date {
	margin-bottom: 0em;
	font-weight  : bold;
	font-size    : 85%;
}

hr {
	width: 85%;

	margin-top   : 2em;
	margin-bottom: 2em;
}

main footer {
	font-size: 75%;
}

.footer-number {
	font-weight: bold;
	float      : left;
}

main footer p {
	margin-left: 2em;
}
